POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
DB_HOST=db
DB_PORT=5432
SECRET_KEY='django-insecure-cg6*%6d51ef8fdshdshdxm4)abgjw8mo!4y-q*uq1!4$-89$'
DEBUG=True
ALLOWED_HOSTS=*
USE_POSTGRESQL=True